.form_outer_container {
    width: 50vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.form_container{
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100%;
    margin-bottom: 5rem;
    transform: translate(-100px);
}

h1 {
    font-weight: 800;
}
.heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: large;
    font-weight: 600;
}
.heading span {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: bold;
} 

.checkbox_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.checkbox_container p {
    color : #696969;
}

.heading span p {
    color: #17B582;
    
}